<div class="dashboard-container">
  <div class="menu-bar">
    <ul>
      <li>
        <span>
          <a href="/host-dashboard/item-details">Items</a>
        </span>
      </li>
      <li>
        <span>
          <a href="/host-dashboard/billing-details">Billing</a>
        </span>
      </li>
      <li>Report</li>
      <li>Stock</li>
    </ul>
  </div>
  <div class="main-content">
    <h1>Retailer Dashboard</h1>
    <!-- Your other pages content will go here -->
    <p>Welcome to the dashboard!</p>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
